<ion-view view-title="Schedule">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <p><b>12/13/14</b>
                </p>
            </div>
            <ion-list>
                <ion-item ng-repeat="lecture in lectures" href="#/tab/schedule/{{lecture.id}}">

                    <div class="item-icon-left">
                        <i class="icon {{lecture.icon}}"></i>
                        <h2>{{lecture.name}}</h2>
                        <p>{{ lecture.date| date:'shortTime'}}</p>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>