<ion-view view-title="Schedule">
    <ion-content>
        <ion-item class="list card item-remove-animate" ng-repeat="lecture in lectures" type="item-text-wrap" href="#/tab/schedule/{{lecture.id}}">
           
                <div class="item item-icon-left">
                    <i class="icon {{lecture.icon}}"></i>
                    <h2>Lecture name: {{lecture.name}}</h2>
                    <p>shortDesc: {{lecture.shortDescription}}</p>
                </div>
            
        </ion-item>
    </ion-content>
</ion-view>