<ion-view view-title="Lecture">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                <h2 ng-bind="vm.lecture.title"></h2>
            </div>
            <div class="item">
                <p ng-bind="vm.getBaseInfo(vm.lecture)"></p>
            </div>
            <div class="item item-divider">
                <p>Description</p>
            </div>
            <div class="item item-body">
                <p ng-bind="vm.lecture.description">
                </p>
            </div>
            <div class>
            </div>
            <div class="item item-divider">
                <p>Speakers</p>
            </div>
            <div class="item item-avatar" ng-repeat="speaker in vm.lecture.speakers">
                <img ng-src="{{speaker.imageUrl}}">
                <p ng-bind="speaker.name"></p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star" ng-click="vm.showRatePopup()"></i> Rate
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>